
header{
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}


footer{
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
div{    
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
/*the start of columns*/
#two_column{
    background-color: #ffb7cf;
    border: 1px black solid;
    padding: 20px;
    width: 50%;
    float: center;
}

#left{
    b 30%ackground-color: #e582a2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 35%;
}

#right{
    background-color: #e55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 35%;
}

#wrapper{
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;


}
#background{
    background: url("../images/makeup3.jpg");
    background-color: #E89C6C;
    background-size: cover;
    padding-top: 550px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
    padding: 20px;
}

#aside{
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}
.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content:" ";
    clear: both;
    height: 0;
}