//sass - is not css - sass turns into css
//we complie our sass into usable css

//variable :)
//starts with a $
//$variable-name: value;
$base-font: 16px;
$header-font-size: 3rem; //300%
$sub-header-font-size: 1.5rem; //150%
$em-header: 0.75em; //75%
$p-font: 1rem; //100%
$sans-font: "Arial", sans-serif;
$fave-color: green;
$fave-color-two: gold;
$rand: rgb(38,36,121);


//build a basic style guide //

body {
	font-size: $base-font;
	color: $rand;
}

h1 {
	font-size: $header-font-size;
	font-family: $p-font;
	color: $fave-color;
}

h2 {
	font-size: $sub-header-font-size;
	font-family: $p-font;
	color: $fave-color-two;
}

p {
	font-family: $p-font; 

}

h3 {
	font-family: $p-font;
	font-size: $em-header;
}

nav {
	ul{
		li{

		}
	}
}