
#wrapper {
  width: 960px;
  margin: 0 auto;
}
body{
  background-color: black;
}

header{
  text-align: center;
  margin: 0 auto;
  background: url("blackmac10002.jpg");
  background-size: cover;
}
 
p {
  font-family: 'Marvel', sans-serif;
  color: white;
  size: 2rem;
}
nav {
	font-size: 1rem;
  color: white;
	display: block;
	text-align: right;
	width: 1230px;
  float: right;
  position: fixed;
  margin-top: -10px;
  padding: 1rem 1rem 0rem 1rem;
  z-index: 1;
}
nav a {
	 text-decoration: none;
}
nav a:hover {
	color: yellow;
}

header {
  margin: 0 auto;
}
ul, li{
  list-style: none;
}
li{
  float: left;
}

footer {
  width: 100%;
  padding: 1rem 2rem 3rem 2rem;
  clear: both;
  margin: 0 auto;
}

#name {
  font-family: 'Cinzel Decorative', cursive;
	font-size: 7.25rem;
  color: white;
	margin: 0 auto;
  padding: 0rem 0rem 10rem 0rem;
  margin-top: -10rem;
  text-align: center;
}
#tagline {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 1.5rem;
  color: purple;
  padding-top: 21rem;
  padding-left: 38rem;
}

#about {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 6rem;
  color: white;
  margin: 0 auto;
  padding: 8rem 0rem 0rem 0rem;
  text-align: center;
}
#abouttagline {
  font-family: 'Marvel', sans-serif;
  font-size: 1.5rem;
  color: white;
  margin: 0 auto;
  padding: 0rem 0rem 0rem 0rem;
  text-align: center;
}
#specialwords {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 2rem;
  color: white;
  text-align: center;
}
#work {
  font-family: 'Cinzel Decorative', cursive;
	font-size: 6rem;
  color: white;
	margin: 0 auto;
  padding: 8rem 0rem 4rem 0rem;
  text-align: center;
}
#contact {
  font-family: 'Cinzel Decorative', cursive;
	font-size: 6rem;
  color: white;
	margin: 0 auto;
  padding: 20rem 0rem 10rem 0rem;
  text-align: center;
}
#contactlist,
#worktagline {
  font-size: 1.5rem;
  text-align: center;
}
#quote {
	font-size: 1.5rem;
  color: white;
	margin: 0 auto;
  width: 100%;
  text-align: center; 
}
#quote,
nav,
#tagline,
#abouttagline,
#worktagline,
#contactlist {
   font-family: 'Marvel', sans-serif;
}
#name-container {
	width: 100%;
	height: 40rem;
  background-repeat: no-repeat;
}
#about-container {
  background-color: black;
  width: 100%;
  height: 40rem;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}
#work-container {
	background-color: black;
	width: 100%;
	height: 20rem;
  margin: 0 auto;
  padding: 0rem 0rem 1rem 0rem;
}
#contact-container {
	background-color: black;
	width: 100%;
}
#socialmedia-container {
  background-color: black;
  width: 30%;
  height: 27rem;
  padding: 0rem 0rem 0rem 17rem;
  float: left;
}
#picture1Box {
  margin: 0 auto;
  width: 26rem;
  height: 16rem;
  background: url(pottycheck.jpg);
  background-size: cover;
  margin: 1rem 1rem 1rem 2rem;
  border-radius: 1px;
  float: left;
}
#picture2Box {
  margin: 0 auto;
  width: 26rem;
  height: 16rem;
  background: url(baseball2.jpg);
  background-size: cover;
  margin: 1rem 1rem 1rem 2rem;
  float: left;
}
#picture3Box {
  margin: 0 auto;
  width: 26rem;
  height: 16rem;
  background: url(oragami.jpg);
  background-size: cover;
  margin: 1rem 1rem 1rem 2rem;
  float: left;
}
#picture4Box {
  margin: 0 auto;
  width: 26rem;
  height: 16rem;
  background: url(codeabodefinal.jpg);
  background-size: cover;
  margin: 1rem 1rem 1rem 2rem;
  float: left;
}
#picture5Box { 
  margin: 0 auto;
  width: 26rem;
  height: 16rem;
  background: url(gifloader.jpg);
  background-size: cover;
  margin: 1rem 1rem 1rem 2rem;
  float: left;
}

#picture6Box   {
  margin: 0 auto;
  width: 26rem;
  height: 16rem;
  background: url(Artsy.jpg);
  background-size: cover;
  margin: 1rem 1rem 1rem 2rem;
  float: left;
}

#picture1Box:hover #overlay,
#picture2Box:hover #overlay,
#picture3Box:hover #overlay,
#picture4Box:hover #overlay,
#picture5Box:hover #overlay,
#picture6Box:hover #overlay {
               opacity:1.5;}


#box1,
#box2,
#box3,
#box4,
#box5,
#box6 {
  background-color: black;
  width: 100%;
  height: 50%;
}
#centerpictures {
  background-color: black;
  margin: 0 auto;
  width: 75%; 
}
#overlay {
  background: rgba(0,0,0,.75);
  text-align: center;
  padding: 1px 1px 1px 1px;
  opacity: 0;
  -webkit-transition: opacity .50s ease; 
}
#picture1Descrip {
  font-family: 'Marvel', sans-serif;
  font-weight: 900;
  color: white;
  font-size: 20px;
}

// #picture4Descrip {
//   font-family: 'Marvel', sans-serif;
//   font-weight: 900;
//   //color: rgba(0, 0, 0, 0.85);
//   color: white;
//   font-size: 20px;
// }

#idlink{
  margin: 0 auto;
  width: 25%;
  height: 25%;
  border-color: black;
  font-family: 'Marvel', sans-serif;
  font-weight: 900;
  color: yellow;
}
#idlink:hover{
  color: red;
}
//social media 
.one-button::before{
  top:0;
  left:0;
  height: 25px;
  width: 25px;
  padding: 1em;
  border-radius: 100%;
  content: "";
  background: rgb(125,126,125); 
  z-index: 999;
  box-shadow: 0px 0px 10px 2px #666;
  border: 1px solid #000;
}
.one-button {
  cursor: pointer;
  color: #fff;
  position: relative;
  z-index: 99999;
  top: 15px;
  left: 15px;
  margin-left: 55px;
}
.one-button:hover i{
  color: purple;
}
.one-button:active{
  top: 17px;
  transition: 0.6s;
}
.one-button i{
  color: #fff;
  position: relative;
  z-index: 99999;
  top: 15px;
  left: 16px;
}
.one-button::after{
  position: absolute;
  top:5px;
  left:5px;
  content: "";
  height: 15px;
  width: 15px;
  padding: 1em;
  z-index:;
  border-radius: 100%;
  background: rgb(14,14,14); /* Old browsers */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(14,14,14,1)), to(rgba(125,126,125,1)));
  z-index: 999;
  border: 1px solid #000;
}
#socialmedia-container{
  background-color: pink;
  height: 25%;
  width: 25%;
  padding: 10rem 1rem 1rem 1rem;
  margin: 0 auto;


//contactform

// form {
//  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
//   background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
//   background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
//   margin: auto;
//   position: relative;
//   width: 550px;
//   height: 450px;
//   font-family: 'Cinzel Decorative', cursive;
//   font-size: 14px;
//   font-style: italic;
//   line-height: 24px;
//   font-weight: bold;
//   //color: #09C;

//   text-decoration: none;
//   border-radius: 10px;
//   marign: 10px 10px 10px 10px;
//   padding: 10px;
//   border: 1px solid #999;
//   border: inset 1px solid #333;
//   -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
//   -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
//   box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); 


// }

// input {
//   width: 375px;
//   display: block;
//   border: 1px solid #999;
//   height: 25px;
//   -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
//   -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
//   box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
// }
// textarea#feedback {
//   width: 375px;
//   height: 150px;
//   display: block;
// }
// textarea:focus, input:focus {
//   border: 1px solid #09C;
// }

// button {
//   width: 100px;
//   position: absolute;
//   right: 20px;
//   bottom: 20px;
//   background: #09C;
//   color: green;
//   font-family: 'Cinzel Decorative', cursive;
//   height: 30px;
//   border-radius: 15px;
//   border: 1px solid #999;
// }

// input.button:hover {
//   background: #fff;
//   color: #09C;
// }

// ul.cont{
//   //position: absolute;
//   top: 75px;
//   width: 600px;
//   left: calc(50% - 335px);
// }



// #column1 {
//   height: 8rem;
//   width: 12rem;
//   //padding: 1rem 0rem 1rem 0rem;
//   margin: 1rem 1rem 1rem 0rem;
//   background: grey;
//   float: left;
// }

// #column2 {
//   height: 8rem;
//   width: 32rem;
//   //padding: 1rem 1rem 1rem 1rem;
//   margin: 1rem 1rem 1rem 1rem;
//   background: grey;
//   float: left;
// }

// #column-container {
// 	margin: 0rem 0rem 14rem 0re


// #socialform-container {
//   background-color: black;
// }
// #form-container {
//   background-color: red;
//   height: 75%;
//   width: 75%;
// }


