/*<link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>*/

body {
    background-color: black;
    color: pink;
    text-align: center;
  
}

h1, p {
    color: pink;
    font-family: "Poppins", sans-serif;;
}

nav {
    text-align: center;
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 18px;
}

a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}


nav a{    
    padding: 10px;
    margin: 10px;

}

#footer, #navfooter{
	font-weight: bold;
	text-transform: uppercase;
    font-family: "Helvetica";
    padding: 100px;
    background-color: black;
    text-align: left;
    width: 400px;
}

/*#belowImages{
    padding: 200px;
    background: url("../images/makeup2.jpg");
    background-size: cover;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}*/

#title {
	text-transform: uppercase;
	font-weight: bold;
    font-size: 45px;
    letter-spacing: 20px;
}

#slogan {
	font-size: 18px;
	font-style: italic;
	text-transform: uppercase;
    word-spacing: 16px;
}

#makeup {
	align: center;
}



#background{
    background: url("../images/makeup3.jpg");
    background-color: black;        
    background-size: cover;
    padding-top: 550px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}