$body-color: #89f0de;
$body-font: 'Open Sans', 'Arial', sans-serif;
$header-font: 'Londrina Shadow', sans-serif;
$button-color: #f0de89;
$font-color: #de89f0; 

body {
	font-family: $body-font;
	background-color: $body-color;
	color: $font-color;
	margin-top: 20px;
	background: url(https://hd.unsplash.com/photo-1455621613471-56c7fcc60f22) no-repeat;

}

header { 
	font-family: $header-font;
	// text-align: $center;
	text-align: center;
	font-size: 50px;
}

button {
	color: black;
	background-color: $button-color;
}

h4 {
	text-align: center;
}

footer {
	text-align: right;
}

